*{
    margin: 0px 0px 0px 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
}
header > h4{
    background-color: rgba(0, 0, 255, 0.921);
    margin: 0px 0px 0px 0px;
    text-align: center;
    color: white;
    padding: 2px;
}
menu ul{
    list-style-type: none;
    background-color: rgba(0, 0, 255, 0.921);
    text-align: center;
    margin-left: -160px;
}
menu li{
    display: inline-block;
    color: white;
    padding: 20px;
}
#sublinhado{
    text-decoration: underline;
    padding: 4px;
}
section{
    text-align: center;
    margin-top: 90px;
}
article{
    padding: 10px;
}
h2{
    padding: 9px;
    font-family: 'Roboto', sans-serif;
}
span{
    border-radius: 6px;
    border: 1px solid black;
    padding: 4px;
}
s1{
    text-align: center;
    margin-right: -145px;
}